---
- name: Allow passwordless sudo for {{ ansible_env.USER }}
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/{{ ansible_env.USER }}
    create: yes
    line: "{{ ansible_env.USER }} ALL=(ALL) NOPASSWD: ALL"

#
# TODO: Install & configure git
#

#
# Configure repos & install core tools
#
- name: Install dnf repositories
  ansible.builtin.include_tasks:
    file: ../tasks/dnf_repos.yml
  when: ansible_distribution == "AlmaLinux"

- name: Install core tools
  ansible.builtin.include_tasks:
    file: ../tasks/core_tools.yml

#
# Install zsh and make it the default shell
# Add extensions using antidote plugin manager
#
- name: Install zsh and make it the default shell
  ansible.builtin.include_tasks:
    file: ../tasks/zsh.yml

- name: Install antidote plugin manager and plugins for zsh
  ansible.builtin.include_tasks:
    file: ../tasks/antidote.yml

#
# Install bat (a cat substitute with steroids)
# Note: needs zsh installed
#
- name: Install and configure bat
  ansible.builtin.include_tasks:
    file: ../tasks/bat.yml

#
# Install nerd fonts (JetBrains & FiraCode)
#
- name: Install fonts
  ansible.builtin.include_tasks:
    file: ../tasks/fonts.yml

#
# Add the user's local bin folder
#
- name: Create user's .local/bin directory and ensure it's in PATH
  ansible.builtin.include_tasks:
    file: ../tasks/local_bin.yml

#
# Install a kool prompt
#
- name: Install oh-my-posh
  ansible.builtin.include_tasks:
    file: ../tasks/oh-my-posh.yml

#
# Install & configure terminal app
# Note: JetBrains nerd font should be installed
#
- name: Configure ptyxis for AlmaLinux
  ansible.builtin.include_tasks:
    file: ../tasks/ptyxis.yml
  when: ansible_distribution == "AlmaLinux"

- name: Install and configure wezterm for MacOSX
  ansible.builtin.include_tasks:
    file: ../tasks/wezterm.yml
  when: ansible_distribution == "MacOSX"

#
# Install editors (Neovim & VS Code)
#
- name: Install VS Code
  ansible.builtin.include_tasks:
    file: ../tasks/vscode.yml

- name: Install neovim
  ansible.builtin.include_tasks:
    file: ../tasks/neovim.yml

#
# Install programming languages (Golang, Rust, Zig)
# Note: VS Code should be installed to add extensions
#
- name: Install golang
  ansible.builtin.include_tasks:
    file: ../tasks/golang.yml

- name: Install rust
  ansible.builtin.include_tasks:
    file: ../tasks/rust.yml

- name: Install zig
  ansible.builtin.include_tasks:
    file: ../tasks/rust.yml

#
# Install a kool app to display os info in the terminal.
# Leave this as the last task!
#
- name: Install and configure fastfetch
  ansible.builtin.include_tasks:
    file: ../tasks/fastfetch.yml
