- name: Install golang on AlmaLinux
  become: true
  ansible.builtin.dnf:
    name: golang
    state: present
  when: ansible_distribution == "AlmaLinux"

- name: Install golang on MacOS
  community.general.homebrew:
    name: golang
    state: present
  when: ansible_distribution == "MacOSX"

- name: Ensure "{{ ansible_env.HOME }}/go/bin is in PATH
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.zshenv"
    search_string: 'export PATH="$PATH:$HOME/go/bin"'
    insertbefore: "^# PATH ending point"
    line: 'export PATH="$PATH:$HOME/go/bin"'

- name: Install gopls
  ansible.builtin.shell:
    cmd: go install golang.org/x/tools/gopls@latest
    creates: "{{ ansible_env.HOME }}/go/bin/gopls"

- name: Install Development
  ansible.builtin.shell:
    cmd: go install github.com/go-delve/delve/cmd/dlv@latest
    creates: "{{ ansible_env.HOME }}/go/bin/delve"
