- block:
    - name: Add VS Code dnf/yum repository
      become: true
      ansible.builtin.yum_repository:
        name: vscode
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        enabled: yes
        gpgcheck: yes
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc

    - name: Install VS Code
      become: true
      ansible.builtin.dnf:
        name: code
        state: latest
  when: ansible_distribution == "AlmaLinux"

- name: Create a symbolic link for MacOSX to /usr/bin/code
  ansible.builtin.file:
    src: "/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code"
    dest: /opt/homebrew/bin/code
    state: link
  when: ansible_distribution == "MacOSX"

- name: Install VS Code extensions
  ansible.builtin.command: "code --force --install-extension {{ item }}"
  loop:
    - catppuccin.catppuccin-vsc
    - catppuccin.catppuccin-vsc-icons
    - golang.go
    - gruntfuggly.todo-tree
    - llvm-vs-code-extensions.vscode-clangd
    - ms-vscode.hexeditor
    - ms-vscode-remote.remote-ssh
    - ms-vscode-remote.remote-ssh-edit
    - ms-vscode.remote-explorer
    - nefrob.vscode-just-syntax
    - redhat.vscode-yaml
    - rust-lang.rust-analyzer
    - shd101wyy.markdown-preview-enhanced
    - slint.slint
    - sumneko.lua
    - tamasfe.even-better-toml
    - vadimcn.vscode-lldb
    - xaver.clang-format
    - ziglang.vscode-zig

- name: Copy VS Code settings in AlmaLinux
  ansible.builtin.copy:
    force: yes
    src: ../files/vscode_settings.json
    dest: "{{ ansible_env.HOME }}/.config/Code/User/settings.json"
    mode: 0644
  when: ansible_distribution == "AlmaLinux"

- name: Copy VS Code settings in MacOSX
  ansible.builtin.copy:
    force: yes
    src: ../files/vscode_settings.json
    dest: "{{ ansible_env.HOME }}/Library/Application Support/Code/User/settings.json"
    mode: 0644
  when: ansible_distribution == "MacOSX"
