- name: Install zsh for AlmaLinux
  become: true
  ansible.builtin.dnf:
    name: zsh
    state: latest
  when: ansible_distribution == "AlmaLinux"

- name: Change default shell to zsh on AlmaLinux
  become: true
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: "/usr/bin/zsh"
  when: ansible_distribution == "AlmaLinux"

- name: Change default shell to zsh on MacOS
  become: true
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: "/bin/zsh"
  when: ansible_distribution == "MacOSX"

- name: Deploy .zshenv configuration file
  ansible.builtin.copy:
    src: ../files/zshenv
    dest: "{{ ansible_env.HOME }}/.zshenv"
    mode: 0644

- name: Deploy .zshrc configuration file
  ansible.builtin.copy:
    src: ../files/zshrc
    dest: "{{ ansible_env.HOME }}/.zshrc"
    mode: 0644

- name: Copy the zsh custom files directory
  ansible.builtin.copy:
    src: ../files/zsh/
    dest: "{{ ansible_env.HOME }}/.config/zsh/"
    mode: 0755
