[user]
        name = {{ github.full_name }}
        email = {{ github.email }}
[core]
        excludesFile = ~/.gitignore_global
        autocrlf = input
        excludefiles = -l
[pull]
        rebase = true
