---
- hosts: alma
  # connection: local
  vars_files:
    - vars/main.yml

  tasks:
    - name: Debug
      ansible.builtin.debug:
        msg: "Current host = {{ ansible_host }}"

    - name: Copy Git ssh keys
      ansible.builtin.command:
        cmd: "scp flevin58@localhost:~/.ssh/{{ item }} {{ ansible_env.HOME }}/.ssh/{{ item }}"
        creates: "{{ ansible_env.HOME }}/.ssh/{{ item }}"
      with_items:
        - github_ed25519.pub
        - github_ed25519
        - gitlab_ed25519.pub
        - gitlab_ed25519
